### **Extração de dados do mercado financeiro usando uma API do site Yahoo Finance**

No Python, existe uma biblioteca chamada YFinance, que viabiliza a extração dos dados da API de forma prática, sem utilizar grandes códigos.

In [2]:
# pip install yfinance

import yfinance

yfinance.Ticker("AAPL") 
# uso do módulo Ticker que recebe o nome de uma ação para extrair os dados 
# AAPL - Apple

yfinance.Ticker object <AAPL>

In [3]:
# o método .history() é responsável para trazer dados históricos da ação em questão
yfinance.Ticker("AAPL").history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-06-05 00:00:00-04:00,195.399994,196.899994,194.869995,195.869995,54156800,0.0,0.0
2024-06-06 00:00:00-04:00,195.690002,196.500000,194.169998,194.479996,41181800,0.0,0.0
2024-06-07 00:00:00-04:00,194.649994,196.940002,194.139999,196.889999,53103900,0.0,0.0
2024-06-10 00:00:00-04:00,196.899994,197.300003,192.149994,193.119995,97262100,0.0,0.0
2024-06-11 00:00:00-04:00,193.649994,207.160004,193.630005,207.149994,172373300,0.0,0.0
2024-06-12 00:00:00-04:00,207.369995,220.199997,206.899994,213.070007,198134300,0.0,0.0
2024-06-13 00:00:00-04:00,214.740005,216.750000,211.600006,214.240005,97862700,0.0,0.0
2024-06-14 00:00:00-04:00,213.850006,215.169998,211.300003,212.490005,70122700,0.0,0.0
2024-06-17 00:00:00-04:00,213.369995,218.949997,212.720001,216.669998,93728300,0.0,0.0
2024-06-18 00:00:00-04:00,217.589996,218.630005,213.000000,214.289993,79943300,0.0,0.0
2024-06-20 00:00:00-04:00,213.929993,214.240005,208.850006,209.679993,86172500,0.0,0.0
2024-06-21 00:00:00-04:00,210.389999,211.889999,207.110001,207.490005,246421400,0.0,0.0
2024-06-24 00:00:00-04:00,207.720001,212.699997,206.589996,208.139999,80727000,0.0,0.0
2024-06-25 00:00:00-04:00,209.149994,211.380005,208.610001,209.070007,56713900,0.0,0.0
2024-06-26 00:00:00-04:00,211.500000,214.860001,210.639999,213.250000,66213200,0.0,0.0
2024-06-27 00:00:00-04:00,214.690002,215.740005,212.350006,214.100006,49772700,0.0,0.0
2024-06-28 00:00:00-04:00,215.770004,216.070007,210.300003,210.619995,82542700,0.0,0.0
2024-07-01 00:00:00-04:00,212.089996,217.509995,211.919998,216.750000,60402900,0.0,0.0
2024-07-02 00:00:00-04:00,216.149994,220.380005,215.100006,220.270004,58046200,0.0,0.0
2024-07-03 00:00:00-04:00,220.000000,221.550003,219.029999,221.550003,37369800,0.0,0.0
2024-07-05 00:00:00-04:00,221.649994,225.460007,221.649994,225.442703,34420814,0.0,0.0

O método `history()` é responsável por trazer os dados históricos referentes a uma ação. 

Ele recebe diversos argumentos, como o período de tempo, por exemplo. Será adicionado primeiro o parâmetro _period = "1d"_, referente a 1 dia. Em seguida, será definido um intervalo de 1 hora _interval = "1h"_; data de início aleatória no formato ano/mês/dia _start = "2024-01-03"_; data final da extração _end = "2024-01-10"_; e, por fim, o argumento _prepost = True_, que permite que sejam trazidos dados da ação fora do horário comercial. 

- **Esse método retorna um DataFrame**.

As vezes a seleção de datas pode resultar em erro, pois as vezes considera finais de semana e o mercado de ações da bolsa de valores funciona apenas de segunda a sexta.

In [5]:
yfinance.Ticker("AAPL").history(
            period ="1d",
            interval = "1h",
            start = "2024-01-03",
            end = "2024-01-10",
            prepost = True
)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-01-03 04:00:00-05:00,184.940000,185.200000,184.630000,184.990000,0,0.0,0.0
2024-01-03 05:00:00-05:00,184.930000,184.980000,184.610000,184.670000,0,0.0,0.0
2024-01-03 06:00:00-05:00,184.670000,184.880000,184.660000,184.690000,0,0.0,0.0
2024-01-03 07:00:00-05:00,184.690000,185.000000,184.570000,184.680000,0,0.0,0.0
2024-01-03 08:00:00-05:00,184.700000,185.640000,184.150000,184.635000,0,0.0,0.0
...,...,...,...,...,...,...,...
2024-01-09 14:30:00-05:00,184.310104,184.899994,184.300201,184.770004,3646429,0.0,0.0
2024-01-09 15:30:00-05:00,184.779999,185.149994,184.410004,185.110001,6123108,0.0,0.0
2024-01-09 16:00:00-05:00,185.110000,185.560000,185.030000,185.210000,0,0.0,0.0
2024-01-09 17:00:00-05:00,185.210000,193.952960,184.127180,185.230000,0,0.0,0.0
2024-01-09 18:00:00-05:00,185.230000,185.480000,185.150000,185.435000,0,0.0,0.0

In [7]:
# salvar essa informação dentro de uma variável

hist = yfinance.Ticker("AAPL").history(
            period ="1d",
            interval = "1h",
            start = "2024-01-03",
            end = "2024-01-10",
            prepost = True
)

In [8]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-01-03 04:00:00-05:00,184.94,185.20,184.63,184.99,0,0.0,0.0
2024-01-03 05:00:00-05:00,184.93,184.98,184.61,184.67,0,0.0,0.0
2024-01-03 06:00:00-05:00,184.67,184.88,184.66,184.69,0,0.0,0.0

O índice deste dataframe traz a data e o horário da extração, e as colunas, os preços da ação escolhida. A coluna "open" corresponde ao valor de abertura da ação; "high", ao valor mais alto que ela atingiu nesse período; "low", ao valor mais baixo; e "close", ao valor de fechamento dessa ação.

In [12]:
# Criando uma função para extrair dados de ações e salvar em um .csv

def extrai_dados(ticker, start_date, end_date):
    caminho = f"output_acoes/{ticker}.csv"
    yfinance.Ticker(ticker).history(
        period = "1d",
        interval = "1h",
        start = start_date,
        end = end_date,
        prepost = True
    ).to_csv(caminho)

In [13]:
extrai_dados("AAPL", "2023-07-25", "2023-07-29")
extrai_dados("GOOG", "2023-06-06", "2023-06-08")